<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} STYLES {% endcomment %}
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <link rel="shortcut icon"
              href="{% static 'img/favicon.png' %}"
              type="image/x-icon">
        {% comment %} SCRIPTS {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% comment %} NAVBAR {% endcomment %}
        <nav class='navbar navbar-expand-md border-bottom navbar-dark bg-dark'>
            <div class='container-fluid'>
                <div class="navbar-collapse collapse">
                    <ul class='navbar-nav me-auto'>
                        <li class='nav-item'>
                            <a href={% url "home" %} class='nav-link'>Home</a>
                        </li>
                        <li class='nav-item'>
                            <a data-testid="offers-button" href={% url "offers" %} class='nav-link'>Offers</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class='nav-item'>
                                <a data-testid="add-offer-button"
                                   href="{% url "offer_form" %}"
                                   class='nav-link'>Add offer!</a>
                            </li>
                        {% endif %}
                        <ul>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class='navbar-nav ms-auto'>
                                {% if user.is_authenticated %}
                                    <li class="nav-item dropdown me-4">
                                        <a class="nav-link dropdown-toggle"
                                           href="#"
                                           id="navbarDropdown"
                                           role="button"
                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           data-testid="user-dropdown"><i class="bi bi-person-circle"></i> {{ user }} </a>
                                        <div class="dropdown-menu dropdown-menu-left"
                                             aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href={% url "panel" %}>User panel</a>
                                            <a class="dropdown-item" href={% url "user_offers" %}>Your offers</a>
                                            <a data-testid="logout-button"
                                               class="dropdown-item"
                                               href="{% url "logout" %}">Logout</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class='nav-item'>
                                        <a data-testid="login-button" href={% url "login" %} class='nav-link'>Login</a>
                                    </li>
                                    <li class='nav-item me-4'>
                                        <a data-testid="register-button"
                                           href="{% url "register" %}"
                                           class='nav-link'>Register</a>
                                    </li>
                                {% endif %}
                                <form class='form-inile' action="{% url 'search_offers' %}" method="GET">
                                    <div class='form-row input-group'>
                                        <input name='q'
                                               type="search"
                                               class="form-control"
                                               placeholder="Search offers"
                                               aria-label="Search"
                                               aria-describedby="search-addon" />
                                        <button type="submit" class="btn btn-light" data-mdb-ripple-init>
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% comment %} MESSAGES {% endcomment %}
                {% for message in  messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                         role="alert">
                        <strong>Message:</strong> {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
                <br>
                <h2 class='d-flex justify-content-center'2>
                    {% block page_header %}
                    {% endblock page_header %}
                </h2>
                {% comment%} CONTENT {% endcomment %}
                {% block content %}
                {% endblock content %}
            </body>
        </html>
