{% extends "app/base.html" %}
{% block title %}
    User panel
{% endblock title %}
{% block content %}
    <div class='container text-center'>
        <h3>Hello {{ user.username }}</h3>
        <p>User panel coming soon, click and watch some cute cats while we are working</p>
        <div>
            <div id="catContainer"></div>
            <br>
            <button id='catButton' class="btn btn-primary">Get Random Cat</button>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/cat.js' %}"></script>
{% endblock content %}
