{% extends "main_app/base.html" %}
{% block title %}
    Delete offer
{% endblock title %}
{% block page_header %}
    Delete offer
{% endblock page_header %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <p>Are you sure you want to delete {{ offer.title }}?</p>
                <a role='button'
                   class='btn btn-primary'
                   href="{{ request.META.HTTP_REFERER }}">Go back</a>
                <input type="Submit" value="Confirm" class ='btn btn-danger' />
            </form>
        </div>
    </div>
{% endblock content %}
