<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        {% load static %}
        <link rel="shortcut icon"
              href="{% static 'images/favicon.png' %}"
              type="image/x-icon">
    </head>
    <body>
        {% for message in  messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <nav class='nav nav-pills flex-column flex-sm-row'>
            <a href={% url "home" %} class='flex-sm-fill text-sm-center nav-link'>Home</a>
            <a href={% url "offers" %} class='flex-sm-fill text-sm-center nav-link'>Offers</a>
            {% if user.is_authenticated %}
                <a href="{% url "offer_form" %}"
                   class='flex-sm-fill text-sm-center nav-link'>Add offer!</a>
                <a href={% url "logout" %} class='flex-sm-fill text-sm-center nav-link'>Logout</a>
            {% else %}
                <a href={% url "login" %} class='flex-sm-fill text-sm-center nav-link'>Login</a>
                <a href="{% url "register" %}"
                   class='flex-sm-fill text-sm-center nav-link'>Register</a>
            {% endif %}
        </nav>
        <br>
        <h2>
            {% block header %}
            {% endblock header %}
        </h2>
        {% block content %}
        {% endblock content %}
        <script src="" async defer></script>
    </body>
</html>
