{% extends "main_app/base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block page_header %}
    Login
{% endblock page_header %}
{% block content %}
    {{ form.errors }}
    <form action=""
          method="post"
          class='form-horizontal col-md-4 offset-md-4 mb-5'>
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}
        <div class="d-grid gap-2">
            <button type="submit" class ='btn btn-primary'>Login</button>
        </div>
    </form>
    <p class='col-md-4 offset-md-4 text-center'>
        Forgot credentials? Go to <a href={% url "register" %}>Register page</a>
    </p>
{% endblock content %}
