{% extends "main_app/base.html" %}
{% block title %}
    {% if request.path == "/user_offers" %}
        Your offers
    {% else %}
        Job offers
    {% endif %}
{% endblock title %}
{% block content %}
    {% if request.path == "/user_offers" %}
        <h2 class='text-center'>Your offers:</h2>
    {% else %}
        <h2 class='text-center'>Job offers:</h2>
    {% endif %}
    <hr>
    <div class='container'>
        {% if job_offers %}
            {% for offer in job_offers %}
                <div class="text-center">
                    <h2>{{ offer.title }}</h2>
                    <p>Author: {{ offer.author }}</p>
                    <p>Company: {{ offer.company }}</p>
                    <p>Salary: {{ offer.salary }}</p>
                    <p>Location: {{ offer.location }}</p>
                    <p>{{ offer.description }}</p>
                    <a href = {{ offer.url }}> {{ offer.url }}</a>
                    <p>Published: {{ offer.date_posted }}</p>
                    {% if offer.author == user or perms.main_app.change_joboffer %}
                        <a href={% url "delete_offer" offer.id %}><i class="bi bi-trash3"></i></a>
                        <a href={% url "update_offer" offer.id %}>
                            <i class="bi bi-pencil"></i></a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class='text-center'>
            <h4>No offers for now, start by creating one!</h4>
            {% if user.is_authenticated %}
                <a href={% url "offer_form" %}>Create offer</a>
            {% else %}
                <a href={% url "login" %}>Login and create offer</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}
