{% extends "main_app/base.html" %}
{% block title %}
    Offer form
{% endblock title %}
{% block page_header %}
    Add offer
{% endblock page_header %}
{% block content %}
    <form method="POST"
          action="{% url 'offer_form' %}"
          class='form-horizontal col-md-4 offset-md-4'>
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <div class="d-grid gap-2">
            <button class ='btn btn-primary' type='Submit'>Add offer</button>
        </div>
    </form>
{% endblock content %}
