{% extends "main_app/index.html" %}
{% block title %}Registration{% endblock title %}
{% block content %}
    {{ form.errors }}
    <form action="" , method="post" id="register">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
            <br>
        {% endfor %}
        <button type="submit">Register account</button>
    </form>
    <a href={% url "login" %}>Login page</a>
{% endblock content %}
