:root{
    --nav-bg-color: #000ab0;
    --nav-primary-color: #ffffff;
    --nav-hover-color: #9dafff;

}
body {
    font-family: Roboto,sans-serif;
}
.page-item.active>.page-link{
    background-color: var(--nav-bg-color);
    color: var(--nav-primary-color);
}
.page-link {
    color: var(--nav-bg-color);
}
.page-link:hover {
    background-color: var(--nav-hover-color);
    color: var(--nav-bg-color)
}
