{% extends 'app/base.html' %}
{% block title %}
    Password Reset
{% endblock title %}
{% block page_header %}
    Password Reset
{% endblock page_header %}
{% block content %}
    <form method="POST" class='form-horizontal col-md-4 offset-md-4 mb-5'>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field }}
                <label for={{ field.auto_id }}>{{ field.label }}
                </label>
            </div>
            <small class='form-text text-danger'>{{ field.errors }}</small>
        {% endfor %}
        <div class="form-buttons d-grid gap-2">
            <input type="submit" value="Send" class="btn btn-primary">
            <a href="{% url 'login' %}"  class="btn btn-outline">Cancel</a>
        </div>
    </form>
{% endblock content %}
