{% extends "authentication/index.html" %}
{% block title %}Home{% endblock title %}

{% block content %} Lorem ipsum, dolor
    sit amet consectetur adipisicing elit. Consectetur animi repudiandae nesciunt
    cumque quos totam odit quas sit sunt, voluptatem sapiente harum vero repellendus
    quod fugiat iste nam qui atque? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Ut enim quas temporibus omnis, quasi ab reprehenderit
    veritatis vitae nesciunt odit debitis eligendi id ratione totam illum, sit
    numquam illo esse! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Provident expedita totam eum repellendus, distinctio ullam aperiam dolore
    voluptas dolores. Explicabo nostrum non distinctio odio iste cupiditate iure
    ipsam nisi molestias.

{% endblock content %}
