<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Panel</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h3>User panel</h3>
    <br />
    <h3>Helllo there {{username}}</h3>

    <button type="submit"><a href="/index">Logout</a></button>

    <script src="" async defer></script>
  </body>
</html>
