{% extends 'app/base.html' %}
{% block title %}
    Password Reset
{% endblock title %}
{% block page_header %}
    Change password
{% endblock page_header %}
{% block content %}
    <div class='container'>{% if validlink %}</div>
        <form method="post" class='form-horizontal col-md-4 offset-md-4 mb-5  '>
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for={{ field.auto_id }}>{{ field.label }}
                    </label>
                </div>
                <small class='form-text text-danger'>{{ field.errors }}</small>
            {% endfor %}
            <div class="d-grid gap-2">
                <button type="submit" class ='btn btn-primary'>Submit</button>
            </div>
        </form>
    {% else %}
        <p class='text-center mt-5'>Link has expired.</p>
    {% endif %}
</div>
{% endblock %}
